<% @questions.each do |question| %>
    <section>
        <div class="container text-center">
            <h4>
                <%= link_to(question.title, question) %>
            </h4>
            <p>
                <%= truncate(question.body, length: 150, separator: ' ') %>
            </p>
            <p> 
                <%= link_to(question.user.name, question.user) %>
            </p>
        </div>
    </section>
<% end %>

