<%= form_for([@question, @answer]) do |f| %>
    <div class='card' style='margin:1em;'>
        <div class='card-body text-start'>
            <div class='row g-3'>
                <div class='col-md-12'>
                    <%= f.text_area :body, { class: 'form-control', placeholder: 'Answer this qestion' } %>
                </div>
                <div class='col-md-7'>
                    <%= f.submit 'Answer Question', class: 'btn btn-primary' %>
                </div>
            </div>
        </div>
    </div>
<% end %>